# Agents Service
PORT=8000

# Neo4j
NEO4J_URI=neo4j+s://xxxxx.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=
NEO4J_DATABASE=neo4j
AURA_INSTANCEID=
AURA_INSTANCENAME=


# Azure OpenAI (Principal)
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://your-endpoint.openai.azure.com/
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o

# Azure OpenAI - gpt-5-mini
AZURE_OPENAI_KEY_gpt_5_mini=
AZURE_OPENAI_ENDPOINT_gpt_5_mini=
AZURE_OPENAI_API_VERSION_gpt_5_mini=
AZURE_OPENAI_DEPLOYMENT_NAME_gpt_5_mini=

# Azure OpenAI - o4-mini
AZURE_OPENAI_KEY_o4_mini=
AZURE_OPENAI_ENDPOINT_o4_mini=
AZURE_OPENAI_API_VERSION_o4_mini=
AZURE_OPENAI_DEPLOYMENT_NAME_o4_mini=

# Azure Document Intelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=

